{% extends 'layout.html' %}

{% block main %}
<h1>Easy as 1-2-3</h1>
<p class="lead">DSLR Basics is a quick and simple tutorial<br>for taking beautiful photos with your DSLR camera.<br>Learn, experiment, and quiz yourself to master the basics!</p>
<p class="lead">
  <a href="/learn" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Begin</a>
</p>  
{% endblock %}

{% block footer %}
  <footer class="mt-auto text-white-50">
    <p>Final Project for <a href="https://courseworks2.columbia.edu/courses/127718" class="text-white">User Interface Design</a>, by <span class ="text-white">Kevin Lim</span>.</p>
  </footer>
{% endblock %}